<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 d-flex align-items-center">
        <img
          src="../../../assets/images/logo-white.svg"
          alt="Your Healthcare Logo"
          height="110"
          class=""
        />
        <p class="logoText">THE RIGHT<br />CARE & CURE</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Providers</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>Contact Information</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-map-marker-alt"></i>Cairo, Egypt</li>
          <li><i class="fas fa-phone"></i> +2-0000-000000</li>
          <li><i class="fas fa-envelope"></i> info at curify.curify</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>Social Networking</h5>
        <ul class="list-inline">
          <li class="socail">
            <a href="#"
              ><img
                src="../../../assets/images/facebook.svg"
                alt="facebook"
                height="25"
                class=""
            /></a>
            Follow us on Facebook
          </li>
          <li class="socail">
            <a href="#"
              ><img
                src="../../../assets/images/x.svg"
                alt="x"
                height="25"
                class=""
            /></a>
            Follow us on X
          </li>
          <li class="socail">
            <a href="#"
              ><img
                src="../../../assets/images/instagram.svg"
                alt="instagram"
                height="25"
                class=""
            /></a>
            Follow us on Instagram
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
