@import "src/styles.scss";

.navbar {
  background-color: #fdfdfd;
}

.navbar-toggler {
  border-color: $main-color;
}

.navbar-toggler:focus {
  box-shadow: 0 0 4px 0 #0019ff;
}

.nav-link:focus {
  color: $main-color;
}
