<section id="heroSection">
  <div
    class="d-flex justify-content-center align-items-center flex-column container"
  >
    <img
      src="assets/images/logo-white.svg"
      alt="Curify Logo"
      height="400"
      class="d-inline-block align-top"
    />
    <h2 class="fw-medium fs-2 text-center">
      Skip the hassle, Find the right care
    </h2>
    <p class="fw-medium fs-3 text-center">
      Curify connects you with trusted healthcare<br />providers near you, all
      in one place.
    </p>
    <p class="fw-medium fs-6 btn btn-primary" routerLink="signup">
      Create an account
    </p>
  </div>
</section>
